.projects {
  margin: 120px auto;
  width: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    align-self: center;
    font-size: 36px;
    margin-bottom: 30px;
  }

  div {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  img {
    opacity: 0.5;
    transition: all 0.4s;
  }

  img:hover {
    cursor: pointer;
    transform: translateY(-5px) translateX(0px);
    opacity: 1;
  }
}

@media only screen and (max-width:799px) {
  .projects {
    width: 380px;
    margin: 30px auto;

    h3 {
      font-size: 24px;
      margin-bottom: 15px;
    }

    a img{
      width: 100%;
      margin: 5px auto;
      padding: 5px 0;
    }
  }

}

@media only screen and (min-width:800px) and (max-width:1120px) {
  .projects {
    width: 720px;

  }
}
