.tools {
  display: flex;
  padding: 120px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h3 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .images {
    justify-content: center;
  }

  img {
    opacity: 0.5;
    transition: all 0.4s;
  }

  img:hover {
    transform: rotate(15deg) scale(1.1);
    opacity: 1;
  }
}

@media only screen and (max-width:799px) {
  .tools {
    width: 380px;
    padding: 0 0 15px 0;
    margin: 0 auto;
    

    h3 {
      font-size: 24px;
      margin-bottom: 30px;
      margin: 15px auto;
    }

    .images{
      width: 25%;
    }

    .images:last-child{
      display: none;
    }
  }
}

@media only screen and (min-width:800px) and (max-width:1120px) {
  .tools {
    width: 720px;
    padding: 60px 0;
    margin: 0 auto;
    
    .images:last-child{
      display: none;
    }
  }
}